/* Author: Micah Weiberg */
/* Version: 05-28-19 */
/* CSS file for styling the Chess Board */

/* Styles the HTML table */
.chessboard {
    width: 648px;
    height: 640px;
    margin-top: 10px;
    border: 10px solid red;
}

/* Styles the black colored tiles */
.black {
    float: left;
    width: 76px;
    height: 76px;
    background-color: black;
}

/* Styles the white colored tiles */
.white {
    float: left;
    width: 76px;
    height: 76px;
    background-color: white;
}

/* Styles the buttons to change tile colors */
.button {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid darkgray;
    background-color: black;
    color: white;
}