<!-- Author: Micah Weiberg
     Version: 04-18-19
     HTML file with the base material for displaying the Chess Board -->
<!DOCTYPE html>
<html>
    <head>
        <title>Chess Board</title>
        <link rel="stylesheet" type="text/css" href="static/buttonStyle.css"/>
        <script type="text/javascript" src="static/buttons.js"></script>
        <button class="button" id="black-button" onclick="buttonClick('black')">Switch Tile Colors</button>
        <button class="button" id="white-button" onclick="buttonClick('white')">
            Return to Original Configuration</button>
    </head>
    <body>
    <div>
        <table class="chessboard">
            <!-- First row -->
            <tr >
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
            </tr>
            <!-- Second row -->
            <tr>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
            </tr>
            <!-- Third row -->
            <tr>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
            </tr>
            <!-- Fourth row -->
            <tr>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
            </tr>
            <!-- Fifth row -->
            <tr>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
            </tr>
            <!-- Sixth row -->
            <tr>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
            </tr>
            <!-- Seventh row -->
            <tr>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
            </tr>
            <!-- Eighth row -->
            <tr>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
                <th class="black"></th>
                <th class="white"></th>
            </tr>
        </table>
    </div>
    </body>
</html>